## Import Necessary Modules

In [1]:
import pandas as pd
import numpy as np
import os 
import warnings
warnings.filterwarnings('ignore')

## Load the Data File

In [2]:
import pandas as pd 
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
data = train.head(100)
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [3]:
print(data.shape , train.shape, test.shape)

(100, 12) (8523, 12) (5681, 11)

In [4]:
data.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [5]:
data['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [6]:
train['Item_Fat_Content'].replace(['low fat','LF','reg'],['Low Fat','Low Fat','Regular'],inplace = True)
test['Item_Fat_Content'].replace(['low fat','LF','reg'],['Low Fat','Low Fat','Regular'],inplace = True)

test['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular'], dtype=object)

In [7]:
data.isnull().sum() # in normal way finding no.of null values in test data

Item_Identifier               0
Item_Weight                  19
Item_Fat_Content              0
Item_Visibility               0
Item_Type                     0
Item_MRP                      0
Outlet_Identifier             0
Outlet_Establishment_Year     0
Outlet_Size                  24
Outlet_Location_Type          0
Outlet_Type                   0
Item_Outlet_Sales             0
dtype: int64

In [8]:
train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

### Filling mean in the place of Null values in Item weight

In [9]:
data["Item_Weight"] = data["Item_Weight"].fillna(data["Item_Weight"].mean())

In [10]:
data['Outlet_Size'].unique()

array(['Medium', nan, 'High', 'Small'], dtype=object)

In [11]:
data["Outlet_Size"] = data["Outlet_Size"].fillna("Medium")

In [12]:
c=0
item_dict={} 
for i in set(data.Item_Type):
    item_dict[i]= c
    c+=1

In [13]:
item_dict

{'Soft Drinks': 0,
 'Fruits and Vegetables': 1,
 'Breads': 2,
 'Dairy': 3,
 'Breakfast': 4,
 'Meat': 5,
 'Household': 6,
 'Snack Foods': 7,
 'Hard Drinks': 8,
 'Starchy Foods': 9,
 'Health and Hygiene': 10,
 'Canned': 11,
 'Baking Goods': 12,
 'Frozen Foods': 13}

In [14]:
for i in range(len(data)):
    temp = data.Item_Type[i]
    data.Item_Type[i] = item_dict[temp]

In [15]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,3,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,0,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,5,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,1,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,6,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [16]:
data.Outlet_Identifier.unique()

array(['OUT049', 'OUT018', 'OUT010', 'OUT013', 'OUT027', 'OUT045',
       'OUT017', 'OUT046', 'OUT035', 'OUT019'], dtype=object)

In [17]:
c=0
outlet_dict={} 
for i in set(data.Outlet_Identifier):
    outlet_dict[i]= c
    c+=1

In [18]:
outlet_dict

{'OUT046': 0,
 'OUT027': 1,
 'OUT010': 2,
 'OUT045': 3,
 'OUT035': 4,
 'OUT018': 5,
 'OUT017': 6,
 'OUT049': 7,
 'OUT013': 8,
 'OUT019': 9}

In [19]:
for i in range(len(data)):
    temp = data.Outlet_Identifier[i]
    data.Outlet_Identifier[i] = outlet_dict[temp]

In [20]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,3,249.8092,7,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,0,48.2692,5,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,5,141.6180,7,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,1,182.0950,2,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,6,53.8614,8,1987,High,Tier 3,Supermarket Type1,994.7052

In [21]:
c=0
otype_dict={} 
for i in set(data.Outlet_Type):
    otype_dict[i]= c
    c+=1

In [22]:
otype_dict

{'Grocery Store': 0,
 'Supermarket Type2': 1,
 'Supermarket Type1': 2,
 'Supermarket Type3': 3}

In [23]:
for i in range(len(data)):
    temp = data.Outlet_Type[i]
    data.Outlet_Type[i] = otype_dict[temp]

In [24]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,3,249.8092,7,1999,Medium,Tier 1,2,3735.1380
1,DRC01,5.92,Regular,0.019278,0,48.2692,5,2009,Medium,Tier 3,1,443.4228
2,FDN15,17.50,Low Fat,0.016760,5,141.6180,7,1999,Medium,Tier 1,2,2097.2700
3,FDX07,19.20,Regular,0.000000,1,182.0950,2,1998,Medium,Tier 3,0,732.3800
4,NCD19,8.93,Low Fat,0.000000,6,53.8614,8,1987,High,Tier 3,2,994.7052

In [25]:
data.Outlet_Location_Type.unique()

array(['Tier 1', 'Tier 3', 'Tier 2'], dtype=object)

In [26]:
c=0
oloc_dict={} 
for i in set(data.Outlet_Location_Type):
    oloc_dict[i]= c
    c=c+1

In [27]:
oloc_dict

{'Tier 3': 0, 'Tier 1': 1, 'Tier 2': 2}

In [28]:
for i in range(len(data)):
    temp = data.Outlet_Location_Type[i]
    data.Outlet_Location_Type[i] = oloc_dict[temp]

In [29]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,3,249.8092,7,1999,Medium,1,2,3735.1380
1,DRC01,5.92,Regular,0.019278,0,48.2692,5,2009,Medium,0,1,443.4228
2,FDN15,17.50,Low Fat,0.016760,5,141.6180,7,1999,Medium,1,2,2097.2700
3,FDX07,19.20,Regular,0.000000,1,182.0950,2,1998,Medium,0,0,732.3800
4,NCD19,8.93,Low Fat,0.000000,6,53.8614,8,1987,High,0,2,994.7052

In [30]:
data['Outlet_Size'].unique()

array(['Medium', 'High', 'Small'], dtype=object)

In [31]:
c=0
os_dict={} 
for i in set(data.Outlet_Size):
    os_dict[i]= c
    c=c+1

In [32]:
os_dict

{'Medium': 0, 'High': 1, 'Small': 2}

In [33]:
for i in range(len(data)):
    temp = data.Outlet_Size[i]
    data.Outlet_Size[i]=os_dict[temp]

In [34]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,3,249.8092,7,1999,0,1,2,3735.1380
1,DRC01,5.92,Regular,0.019278,0,48.2692,5,2009,0,0,1,443.4228
2,FDN15,17.50,Low Fat,0.016760,5,141.6180,7,1999,0,1,2,2097.2700
3,FDX07,19.20,Regular,0.000000,1,182.0950,2,1998,0,0,0,732.3800
4,NCD19,8.93,Low Fat,0.000000,6,53.8614,8,1987,1,0,2,994.7052

In [35]:
data['Item_Identifier'].unique()

array(['FDA15', 'DRC01', 'FDN15', 'FDX07', 'NCD19', 'FDP36', 'FDO10',
       'FDP10', 'FDH17', 'FDU28', 'FDY07', 'FDA03', 'FDX32', 'FDS46',
       'FDF32', 'FDP49', 'NCB42', 'DRI11', 'FDU02', 'FDN22', 'FDW12',
       'NCB30', 'FDC37', 'FDR28', 'NCD06', 'FDV10', 'DRJ59', 'FDE51',
       'FDC14', 'FDV38', 'NCS17', 'FDP33', 'FDO23', 'DRH01', 'NCX29',
       'FDV20', 'DRZ11', 'FDX10', 'FDB34', 'FDK43', 'FDA46', 'FDC02',
       'FDL50', 'FDM39', 'NCP05', 'FDV49', 'FDL12', 'FDS02', 'NCL17',
       'FDM40', 'FDR13', 'FDA43', 'NCP18', 'FDK21', 'NCX54', 'DRK35',
       'FDY21', 'FDI26', 'FDM20', 'FDV27', 'FDF09', 'FDY40', 'FDY45',
       'FDC46', 'FDH19', 'FDZ03', 'DRH37', 'NCI17', 'FDJ58', 'FDH35',
       'FDG02', 'NCZ18', 'FDC29', 'FDQ10', 'FDN48', 'FDL04', 'FDV25',
       'FDD58', 'FDN04', 'FDV45', 'NCL18', 'FDR12', 'FDG20', 'FDZ55',
       'FDQ49', 'FDN33', 'FDN27', 'FDW20', 'DRG27', 'DRI25', 'FDA44',
       'NCR17', 'FDU04', 'FDF41', 'FDB56'], dtype=object)

In [36]:
c=0
itid_dict={}
for i in set(data.Item_Identifier):
    itid_dict[i] = c
    c+=1

In [37]:
for i in range(len(data)):
    temp = data.Item_Identifier[i]
    data.Item_Identifier[i]= itid_dict[temp]

In [38]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,8,9.30,Low Fat,0.016047,3,249.8092,7,1999,0,1,2,3735.1380
1,68,5.92,Regular,0.019278,0,48.2692,5,2009,0,0,1,443.4228
2,60,17.50,Low Fat,0.016760,5,141.6180,7,1999,0,1,2,2097.2700
3,67,19.20,Regular,0.000000,1,182.0950,2,1998,0,0,0,732.3800
4,93,8.93,Low Fat,0.000000,6,53.8614,8,1987,1,0,2,994.7052

In [39]:
data.Item_Fat_Content.unique()

array(['Low Fat', 'Regular'], dtype=object)

In [40]:
c=0
itf_dict={}
for i in set(data.Item_Fat_Content):
    itf_dict[i]=c
    c+=1

In [41]:
for i in range(len(data)):
    temp=data.Item_Fat_Content[i]
    data.Item_Fat_Content[i] = itf_dict[temp]

In [42]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,8,9.30,0,0.016047,3,249.8092,7,1999,0,1,2,3735.1380
1,68,5.92,1,0.019278,0,48.2692,5,2009,0,0,1,443.4228
2,60,17.50,0,0.016760,5,141.6180,7,1999,0,1,2,2097.2700
3,67,19.20,1,0.000000,1,182.0950,2,1998,0,0,0,732.3800
4,93,8.93,0,0.000000,6,53.8614,8,1987,1,0,2,994.7052

In [43]:
from sklearn.model_selection import train_test_split
from sklearn import metrics


train,test = train_test_split(data, test_size=0.3)

print(train.shape, test.shape)

(70, 12) (30, 12)

In [44]:
train_x = train[['Item_Fat_Content', 'Item_Type', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type']]
train_y =train.Item_Outlet_Sales
train_y = train_y.astype(int)

test_x = test[['Item_Fat_Content', 'Item_Type', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type']]
test_y = test.Item_Outlet_Sales
test_y = test_y.astype(int)

In [45]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score


model = LinearRegression()
model.fit(train_x, train_y)

pred = model.predict(test_x)
pred = pred.astype(int)
print(metrics.accuracy_score(pred, test_y))


from sklearn.metrics import mean_squared_error
from math import sqrt


rms = sqrt(mean_squared_error(pred, test_y))
print(rms)

0.0
1342.9200398137386

In [46]:
pred

array([2607, 2206, 1493, 2503, 3067, 1432, 2712, 3021, 2188, 2254, 2503,
       3014, 1741, 2673, 1997, 1702, 1045, 2003, 2446, 1226, 1244, 1854,
       1641, 1389, 1327, 1484, 2551, 2157, 2201, 1641])

In [47]:
test_y

89    1523
80    1697
30     163
91     690
39    2180
11    2187
76    1207
47    5815
36    2797
22    1587
0     3735
98    4363
26    1065
51     850
40    3435
65     184
63     147
52     810
68    2302
1      443
83     583
5      556
70    3435
90     369
99    1314
15    1547
33    2174
82    4693
66    4865
88     661
Name: Item_Outlet_Sales, dtype: int32

In [48]:
from sklearn.tree import DecisionTreeRegressor


model = DecisionTreeRegressor(max_depth=15, min_samples_leaf=100)

model.fit(train_x, train_y)

pred = model.predict(test_x)
pred = pred.astype(int)

print(metrics.accuracy_score(pred, test_y))

from sklearn.metrics import mean_squared_error
from math import sqrt


rms = sqrt(mean_squared_error(pred, test_y))
print(rms)

0.0
1572.9965564700599

In [49]:
pred

array([2213, 2213, 2213, 2213, 2213, 2213, 2213, 2213, 2213, 2213, 2213,
       2213, 2213, 2213, 2213, 2213, 2213, 2213, 2213, 2213, 2213, 2213,
       2213, 2213, 2213, 2213, 2213, 2213, 2213, 2213])

In [50]:
test_y

89    1523
80    1697
30     163
91     690
39    2180
11    2187
76    1207
47    5815
36    2797
22    1587
0     3735
98    4363
26    1065
51     850
40    3435
65     184
63     147
52     810
68    2302
1      443
83     583
5      556
70    3435
90     369
99    1314
15    1547
33    2174
82    4693
66    4865
88     661
Name: Item_Outlet_Sales, dtype: int32